.vscode/**
.vscode-test/**
.github/**
src/**
scripts/**
docs/**
examples/**
out/test/**
PRODUCT_DESIGN.md
TECHNICAL_DESIGN.md
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
